@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
  padding: 40px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__item+&__item {
    margin-left: 35px;
  }

  &__link {
    padding-bottom: 5px;
    text-transform: uppercase;
    color: $title;
    @extend %roboto-500;
    border-bottom: 1px solid transparent;
    transition: all 0.5s;

    &:hover {
      color: $accent;
      border-bottom: 1px solid $accent;
      @extend %roboto-700;
    }
  }

  &__link--active {
    color: $accent;
    @extend %roboto-700;
    border-bottom: 1px solid $accent;
  }
}

.user-nav {
  display: flex;

  &__link {
    position: relative;
  }

  &__link+&__link {
    padding-left: 25px;
  }

  &__number {
    position: absolute;
    top: -9px;
    right: -14px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background-color: $accent;
    color: #fff;
  }
}

.footer {
  background-color: $bg;
  padding: 75px 0 25px;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    border-bottom: 1px solid #ececec;
  }

  &__item {
    margin-bottom: 15px;
  }

  &__title {
    @extend %roboto-500;
    margin-bottom: 35px;
    font-size: 22px;
    line-height: 1.6;
    color: $title;
  }

  &__block {
    max-width: 470px;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__link {
    &:hover {
      color: $title;
    }
  }
}

.address {
  max-width: 240px;
  font-style: normal;

  &__logo {
    display: block;
    margin-bottom: 35px;
  }

  &__link {
    display: block;
    margin-bottom: 15px;

    &:hover {
      color: $title;
    }
  }
}


.footer-social {
  display: flex;
  margin-top: 38px;

  &__item+&__item {
    margin-left: 18px;
  }

  &__link path {
    fill: $defoult;
    transition: fill 1s;

    &:hover {
      fill: $accent;
    }
  }
}

.footer-form {
  &__email {
    width: 320px;
    height: 50px;
    background-color: #fff;
    margin-right: 10px;
    padding: 0 10px;
    transition: outline-color 1s;

    &:hover {
      outline-color: $accent;
    }
  }

  &__btn {
    padding: 18px 26px;
    text-transform: uppercase;
    @extend %roboto-400;
    line-height: 1;
    background-color: $accent;
    color: #fff;
    box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
    border: none;
    transition: all 1s ease-in;

    &:hover {
      background-color: transparent;
      color: $accent;
      outline: 1px solid $accent;

    }
  }
}

.footer-copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 27px;

  &__link {
    margin-left: 25px;
  }

  &__img {
    display: inline;
    vertical-align: middle;
  }
}






@import 'media';