@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
  padding: 40px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__item+&__item {
    margin-left: 35px;
  }

  &__link {
    padding-bottom: 5px;
    text-transform: uppercase;
    color: $title;
    @extend %roboto-500;
    border-bottom: 1px solid transparent;
    transition: all 0.5s;

    &:hover {
      color: $accent;
      border-bottom: 1px solid $accent;
      @extend %roboto-700;
    }
  }

  &__link--active {
    color: $accent;
    @extend %roboto-700;
    border-bottom: 1px solid $accent;
  }
}

.user-nav {
  display: flex;

  &__link {
    position: relative;
  }

  &__link+&__link {
    padding-left: 25px;
  }

  &__number {
    position: absolute;
    top: -9px;
    right: -14px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background-color: $accent;
    color: #fff;
  }
}

.top-slider {
  @include bg-img;
  background-color: $bg;
  padding-top: 65px;
  margin-bottom: 120px;

  &__items-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__inner {
    max-width: 560px;
    padding-top: 135px;
    padding-bottom: 200px;
  }

  &__title {
    @extend %roboto-700;
    color: $title;
    font-size: 48px;
    margin-bottom: 40px;

    & span {
      display: block;
    }
  }

  &__descr {
    margin-bottom: 60px;
  }

  &__btn {
    @include btn;
    padding: 19px 32px 19px 35px;

    &:hover {
      @include btn-hover;
    }
  }

  &__images {
    display: block;
  }

  & .slick-dots {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 70px;
  }

  & li+li {
    margin-left: 15px;
  }

  & button {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: none;
    padding: 0;
    font-size: 0;
    background-color: $defoult;
    cursor: pointer;
  }

  & .slick-active button {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $accent;
    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      top: 11px;
      left: 11px;
      border-radius: 50%;
      background-color: $accent;
    }
  }
}





.support {
  margin-bottom: 120px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__items {
    max-width: 370px;
    padding: 160px 40px 60px 40px;
    background-color: #fff;
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
  }

  &__title {
    @extend %roboto-400;
    position: relative;
    margin-bottom: 18px;
    font-size: 22px;
    line-height: 1.2;
    color: $title;

    &::before {
      content: "";
      position: absolute;
      width: 60px;
      height: 60px;
      top: -100px;
    }
  }

  &__title--order {
    &::before {
      @include bg-img;
      background-color: #ffb534;
      background-image: url('../images/icons/support-order.svg');
    }
  }

  &__title--return {
    &::before {
      @include bg-img;
      background-color: #34c3ff;
      background-image: url('../images/icons/support-return.svg');
    }
  }

  &__title--help {
    &::before {
      @include bg-img;
      background-color: $accent;
      background-image: url('../images/icons/support-help.svg');
    }
  }
}




.container {}

.support {}

.support__items {}

.support__title {}

.support__text {}










.footer {
  background-color: $bg;
  padding: 75px 0 25px;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    border-bottom: 1px solid #ececec;
  }

  &__item {
    margin-bottom: 15px;
  }

  &__title {
    @extend %roboto-500;
    margin-bottom: 35px;
    font-size: 22px;
    line-height: 1.6;
    color: $title;
  }

  &__block {
    max-width: 470px;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__link {
    &:hover {
      color: $title;
    }
  }
}

.address {
  max-width: 240px;
  font-style: normal;

  &__logo {
    display: block;
    margin-bottom: 35px;
  }

  &__link {
    display: block;
    margin-bottom: 15px;

    &:hover {
      color: $title;
    }
  }
}

.footer-social {
  display: flex;
  margin-top: 38px;

  &__item+&__item {
    margin-left: 18px;
  }

  &__link path {
    fill: $defoult;
    transition: fill 1s;

    &:hover {
      fill: $accent;
    }
  }
}

.footer-form {
  &__email {
    width: 320px;
    height: 50px;
    background-color: #fff;
    margin-right: 10px;
    padding: 0 10px;
    transition: outline-color 1s;

    &:hover {
      outline-color: $accent;
    }
  }

  &__btn {
    @include btn;
    padding: 18px 26px;
    border: none;

    &:hover {
      @include btn-hover;
    }
  }
}

.footer-copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 27px;

  &__link {
    margin-left: 25px;
  }

  &__img {
    display: inline;
    vertical-align: middle;
  }
}






@import 'media';